<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <h1>{{ page.title }}</h1>

  {% if page.url != "/" and page.url != "/index.html" %}
    <details class="nav-collapsible" open>
      <summary>Меню</summary>
      {% include nav.html %}
    </details>
  {% else %}
    {% include nav.html %}
  {% endif %}

  <main>
    {{ content }}
  </main>

  <p><a href="/index.html">⬅ Обратно на домашнюю страничку</a></p>

</body>
</html>
